@charset "utf-8";

:root {
    --set-width: 200px;
    --set-border-width: 3px;
}
#flowChartArea{
    display: flex;
}
#temporalyArea {
    display: block;
    max-width: var(--set-width);
    overflow-wrap: break-word;
    opacity: 0;
}

/* フローチャート内共通アイテム */
.area {
    width: var(--set-width);
    display: flex;
    flex-direction: column;
}
.empty {
    width: var(--ser-width);
    height: 50px;
}
.itemBox {
    min-height: 20px;
    text-align: center;
    font-size: 15px;
    width: var(--set-width);
    margin: 0;
    padding: 10px;
    box-sizing:border-box;
    overflow-wrap: break-word;
}

textarea {
    font-size: 15px;
    margin-top: 8px;
    width: 6px;
    max-width: calc(var(--set-width)*0.8);
    height: 10px;
    border: none;
    background: none;
    outline: none;
}

/* 強調クラス設定 */
.strongBE {
    border: var(--set-border-width) solid #477426;
}
.strongPr {
    border: var(--set-border-width) solid #4a4a4a;
}
.strongIf {
    border: var(--set-border-width) solid #4a4a4a;
}
.strongIn {
    border: var(--set-border-width) solid #4a4a4a;
}
.strongLp {
    border: var(--set-border-width) solid #865b8a;
}